#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Headings {
  right:600px;
}

.Heading_style {
  margin:30px;
}

#TitleIcon {
  right:500px;
  font-size:50px;
  position:absolute;
  
}

#test {
  color: red;
  font: Sans-Serif;
}
